<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web Page</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

<main>
    <div class="top-bar">
        <div class="top-bar-left">
            <div class="brand-box">Carrot Cafe By RabbitEatingLTD</div>
        </div>
        <a href="../templates/index.html" class="home-btn">Home</a>
    </div>
    <main>
        <section class="hompage-section">
            <h2>Welcome to Carrot Cafe</h2>
            <p>Explore our delicious offerings and join our community!</p>
            <a href="../templates/index.html" class="action-btn">Explore Menu</a>
            
        </section>
</main>