<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

<main>
    <div class="top-bar">
        <div class="top-bar-left">
            <div class="brand-box">Carrot Cafe By RabbitEatingLTD</div>
        </div>
        <a href="../templates/index.html" class="home-btn">Home</a>
    </div>
    <main>
        <section class="hompage-section">
            <h1>Welcome to Carrot Cafe</h1>
            <p>Explore our delicious offerings and join our community!</p>
            <a href="#menu-page" class="action-btn">Explore Menu</a>
            
        </section>
        <section class="disclaimer-section">
            <h2>Disclaimer - Dietary Restrictions</h2>
            <p>Please input your dietary restrictions in the box</p>
            <form method="POST" action="#disclaimer-section"> 
                <label for="restrictions">Dietary Restrictions:</label>
                <input type="text" id="restrictions" name="restrictions" required>
                
                <button type="submit" class="action-btn">Submit</button>
            </form>
        </section>
        <section class="food-facts-section">
            <h2> Food facts of the Day</h2>
            <p>Did you know that carrots are not only delicious but also packed with vitamins and minerals?</p>
            <p>They are a great source of beta-carotene, which is converted into vitamin A in the body, essential for good vision and immune function.</p>
            <p>Carrots also contain antioxidants and fiber, making them a healthy addition to your diet.</p>
            <p>Enjoy our fresh carrot dishes at Carrot Cafe!</p>
        </section>
        <section class="community-section">
            <h2>Join Our Community</h2>
            <p>Become a part of our vibrant community by volunteering or donating.</p>
            <a href="../templates/forums.html" class="action-btn">Forums and Discussions!</a>
        </section>

        <section class = "menu-section" id = "menu-page">
            <h2>Explore Our Menu</h2>
            <p>Discover our wide range of delicious dishes and beverages.</p>
            <img src="../static/Menu.png" alt="Menu" class="Menu-image">
            <p>From fresh salads to hearty meals, we have something for everyone!</p>

        </section>

        <section class="social-media-section">
            <h2>Follow Us on Social Media</h2>
            <p>Stay updated with our latest news and offerings by following us on social media!</p>
            <a href="https://www.instagram.com" class="action-btn">Instagram</a>
        </section>
</main>

<footer>
    <p>&copy; 2023 Carrot Cafe By RabbitEatingLTD. All rights reserved.</p>
</footer>